@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  display: flex;
  background-image: url("/img/guille-pozzi-sbcIAn4Mn14-unsplash.jpg");
  background-size: 100%;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.header {
  display: flex;
  background-color: #61dafd;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  margin: 10px;
  width: 90%;
  height: 80px;
  box-shadow: 10px 5px 5px black;
}
h1 {
  margin: 0px;
  font-family: "Creepster", cursive;
}

.box {
  border-radius: 20px;
  background-color: #fd61c8;
  opacity: 90%;
  box-shadow: 10px 5px 5px black;
}

#charSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 95%;
}
.char {
  display: grid;
  grid-template-areas:
    "img head like"
    "img epi .";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr ;

  width: 360px;
  height: 165px;
  margin-inline: 20px;
  margin-top: 10px;
}

.status {
  grid-area: epi;
  display: flex;
  justify-content: start;
  margin-top: 5px;
}
h2 {
  color: white;
}
h3{
  grid-area: head;
}
.charText{
 display: flex;
  justify-content: end;
  flex-direction: column;
  margin-bottom: 5px;
}
.imgchar {
  grid-area: img;
  align-self: center;
  width: 80%;
  max-width: 350px;
  margin: 10px;
  opacity: 1;
}
p {
  margin: 2px;
}
.favBtn{
  height: 20px;
  width: 20px;
  background-color: #fd61c8;
  background-image: url("/img/heart.png");
  background-size: 20px;
  border: 0px;
  grid-area: like;
}
.favBtn:hover{
  background-image: url("/img/heartfilled.png");
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#homeArrow{
  position: fixed;
  z-index: 1;
  width: 30px;
  bottom: 10px;
  right: 40px;
}
#searchbar{
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  opacity: 95%;
  background-color: #fde261;
  width: 85%;
  height: 30px;
  border: 0;
}

.charPageBox{
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

#signupForm{
display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-weight: bold;
  width: 80%;
  height: 200px;
  max-width: 300px;
} 
.formInput{
  border-radius: 5px;
  width: 80%;
  text-align: center;
}

.user{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.user p{
  color: white;
  font-size: 30px

}
.user h2{
  color: white;
  font-size: 40px;
}
.headerLink{
  display: flex;
  align-items: center;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
  
}

@media (min-width: 440px){
#homeArrow{
    background-color: #fd61c8;
    border-radius: 50%;
  box-shadow: 5px 5px 5px black;
  }
}
