@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Roboto&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  background-image: url("/img/guille-pozzi-sbcIAn4Mn14-unsplash.jpg");
  background-size: 100%;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.header {
  display: flex;
  background-color: #61dafd;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  margin: 10px;
  width: 90%;
  margin-left: 5%;
  height: 120px;
  box-shadow: 10px 5px 5px black;
}
h1 {
  margin: 0px;
  font-family: "Creepster", cursive;
  font-size: 2em;
}

.box {
  border-radius: 20px;
  background-color: #fd61c8;
  opacity: 90%;
  box-shadow: 10px 5px 5px black;
}

#charSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 95%;
}
.char {
  display: grid;
  grid-template-areas:
    "img head like"
    "img epi .";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  width: 330px;
  height: 165px;
  margin-inline: 20px;
  margin-top: 10px;
}

.status {
  grid-area: epi;
  display: flex;
  justify-content: start;
}
h2 {
  color: white;
}
h3 {
  grid-area: head;
}
.charText {
  display: flex;
  justify-content: end;
  flex-direction: column;
  margin-bottom: 5px;
}
.imgchar {
  grid-area: img;
  align-self: center;
  width: 80%;
  max-width: 350px;
  margin: 10px;
  opacity: 1;
}
p {
  margin: 2px;
}
.favBtn {
  height: 20px;
  width: 20px;
  background-color: #fd61c8;
  background-image: url("/img/heart.png");
  background-size: 20px;
  border: 0px;
  grid-area: like;
}
.favBtn:hover {
  background-image: url("/img/heartfilled.png");
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#homeArrow {
  position: fixed;
  z-index: 1;
  width: 30px;
  bottom: 10px;
  right: 40px;
}
#searchbar {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  opacity: 95%;
  background-color: #fde261;
  width: 400px;
  height: 30px;
  border: 0;
}

.charPageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 10px;
}

#signupForm {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-weight: bold;
  width: 80%;
  height: 200px;
  max-width: 300px;
}
.formInput {
  border-radius: 5px;
  width: 80%;
  text-align: center;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.user p {
  color: white;
  font-size: 30px;
}
.user h2 {
  color: white;
  font-size: 40px;
}
.headerLink {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
}

.menuBtn {
  background-color: #fde261;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  opacity: 95%;
  height: 30px;
  margin: 2px;
  border: 2px;
}
#menuIcon {
  display: none;
}
.headerText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#topSection {
  display: flex;
  width: 100%;
}
.topNav {
  /* not mobile */
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: 10px;
  margin-right: -60%;
}
#headerImg {
  width: 90%;
  border-radius: 20px;
}
#topRight{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}
.formLabel{
font-size: 16px;
  margin: 3px;

}


@media (min-width: 420px) {
  #homeArrow {
    background-color: #fd61c8;
    border-radius: 50%;
    box-shadow: 5px 5px 5px black;
  }
}
@media (max-width: 920px) {
  #nav {
    display: none;
    flex-direction: column;
    width: 85%;
    margin-top: -10px;
    margin-bottom: 3px;
  }
  .topNav {
    width: 85%;
    margin: 2px;
  margin-right: 0;
  }
  #menuIcon {
    display: block;
    width: 30px;
    position: relative;
    left: 43%;
    bottom: 30px;
  }
  .headerText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  #topSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  #topRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 0;
  }
  .header {
    margin-left: 0;
    height: 80px;
  }
  #headerImg {
    display: none;
  }
  #searchbar{
    width: 85%;
  }
}
@media (max-width: 1200px) and (min-width: 960px) {
  .char {
    width: 400px;
  }
  #charSection {

    justify-content: space-evenly;
  }
  .header {
    margin-left: 10%;
  }
  
}
